* {
    margin: 0px;
    padding: 0px;
}
body {
    color: white;
    background-color: #000000;
    opacity: 1;
    background-image:  radial-gradient(#006b15 0.75px, transparent 0.75px), radial-gradient(#006b15 0.75px, #000000 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}
@import "utilities/variables";
@import "layout/nav";
@import "layout/footer";
@import "components/titles";
@import "layout/forms";
@import "sections/index";
@import "sections/bio";
@import "sections/discos";
@import "sections/galeria";
@import "components/buttons";