h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 2rem;
}
.titulo__seccion {
    letter-spacing: 15px;
    margin-bottom: 50px;
}
.title {
    margin-top: 30px;
    margin-bottom: 50px;
}